<h1>Pages#home -- change me</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1> blogs tables (posts instance variable) </h1>
<%= @posts.inspect %>


<h1> Skills tables (skills instance variable) </h1>
<%= @pskills.inspect %>
